<Settings><SelectedAnnouncer>1</SelectedAnnouncer><CurrentLSelect>2</CurrentLSelect><VictoryStyle>0</VictoryStyle><UseDropdash>1</UseDropdash><UseInstaSheild>1</UseInstaSheild><InitalLives>8</InitalLives><TimeLimit>0</TimeLimit><NoHurryUpTimer>1</NoHurryUpTimer><EndlessRounds>0</EndlessRounds><NumberOfRounds>3</NumberOfRounds><StrechEffectIntensity>4</StrechEffectIntensity><MonitorMode>0</MonitorMode><CurrentSeason>1</CurrentSeason><UseEncoreVapeMusic>1</UseEncoreVapeMusic><TailsFlightCancel>0</TailsFlightCancel><SpotLightChallenge>0</SpotLightChallenge><LHPZ_SecretUnlocked>1</LHPZ_SecretUnlocked><EnableDebugMode>1</EnableDebugMode><EnableDevMode>1</EnableDevMode><DarkDevMenu>1</DarkDevMenu></Settings>