<Settings><SelectedAnnouncer>0</SelectedAnnouncer><CurrentLSelect>0</CurrentLSelect><VictoryStyle>6</VictoryStyle><UseDropdash>1</UseDropdash><UseInstaSheild>0</UseInstaSheild><PlayerSettingsSaveMode>0</PlayerSettingsSaveMode><InitalLives>3</InitalLives><TimeLimit>1</TimeLimit><NoHurryUpTimer>0</NoHurryUpTimer><EndlessRounds>0</EndlessRounds><NumberOfRounds>3</NumberOfRounds><StrechEffectIntensity>1</StrechEffectIntensity><MonitorMode>0</MonitorMode><CurrentSeason>1</CurrentSeason><UseEncoreVapeMusic>1</UseEncoreVapeMusic><TailsFlightCancel>0</TailsFlightCancel><SpotLightChallenge>0</SpotLightChallenge><SpeedShoesMode>0</SpeedShoesMode><StartupStage_Enabled>1</StartupStage_Enabled><StartupStage_UseIZ>0</StartupStage_UseIZ><StartupStage_Normal>2</StartupStage_Normal><StartupStage_Infinity>IZ_NSZ</StartupStage_Infinity><EnableDebugMode>1</EnableDebugMode><EnableDevMode>1</EnableDevMode><DarkDevMenu>1</DarkDevMenu></Settings>