[submodule "SMCP-Game"]
	path = Game
	url = https://github.com/CarJem/SMCP-Game
[submodule "ManiaAPI"]
	path = SM-CompetitionPlusC++/include/ManiaAPI
	url = https://github.com/thesupersonic16/ManiaAPI.git
