<Settings>
    <SelectedAnnouncer>1</SelectedAnnouncer>
    <InitalLives>3</InitalLives>
    <InfiniteLives>0</InfiniteLives>
    <InfiniteTime>0</InfiniteTime>
    <UseDropdash>0</UseDropdash>
    <UseInstaSheild>0</UseInstaSheild>
    <PeeloutP1>0</PeeloutP1>
    <PeeloutP2>0</PeeloutP2>
    <PeeloutP3>0</PeeloutP3>
    <PeeloutP4>0</PeeloutP4>
</Settings>
