<Settings><SelectedAnnouncer>0</SelectedAnnouncer><CurrentLSelect>2</CurrentLSelect><VictoryStyle>2</VictoryStyle><UseDropdash>1</UseDropdash><UseInstaSheild>0</UseInstaSheild><InitalLives>10</InitalLives><TimeLimit>1</TimeLimit><EndlessRounds>0</EndlessRounds><NumberOfRounds>5</NumberOfRounds><MonitorMode>1</MonitorMode><EnableDebugMode>0</EnableDebugMode><EnableDevMode>0</EnableDevMode><DarkDevMenu>0</DarkDevMenu></Settings>