<Settings><SelectedAnnouncer>0</SelectedAnnouncer><CurrentLSelect>2</CurrentLSelect><VictoryStyle>1</VictoryStyle><UseDropdash>1</UseDropdash><UseInstaSheild>1</UseInstaSheild><InitalLives>3</InitalLives><TimeLimit>0</TimeLimit><NoHurryUpTimer>1</NoHurryUpTimer><EndlessRounds>0</EndlessRounds><NumberOfRounds>3</NumberOfRounds><MonitorMode>0</MonitorMode><LHPZ_SecretUnlocked>1</LHPZ_SecretUnlocked></Settings>